@import "true";
@import "../stylesheets/helpers/string"; // FIXME: to remove

@include test-module("[function] ppm-string-implode()") {
  @include test('Implode multiple words') {
    @include assert-equal(ppm-string-implode(('sa', 'ss')), 'sass');
    @include assert-equal(ppm-string-implode(('sa', 'ss'), '-'), 'sa-ss');
    @include assert-equal(ppm-string-implode(('border', 'left', 'color'), '-'), 'border-left-color');
  }

  @include test('Implode single word') {
    @include assert-equal(ppm-string-implode('sass'), 'sass');
    @include assert-equal(ppm-string-implode('sass', '-'), 'sass');
  }
}

@include test-module("[function] ppm-string-capitalize()") {

  @include test('Camelize a single word') {
    @include assert-equal(ppm-string-capitalize('background'), 'Background');
    @include assert-equal(ppm-string-capitalize('BACKGROUND'), 'Background');
    @include assert-equal(ppm-string-capitalize('123background'), '123background');
  }

  @include test('Camelize multiple words') {
    @include assert-equal(ppm-string-capitalize('background-color'), 'Background-color');
    @include assert-equal(ppm-string-capitalize('background color'), 'Background color');
    @include assert-equal(ppm-string-capitalize('123 background'), '123 background');
  }
}

@include test-module("[function] ppm-string-camelize()") {

  @include test('UpperCamelCase w/ uppercase the first letter') {
    @include assert-equal(ppm-string-camelize('background'), 'Background');
    @include assert-equal(ppm-string-camelize('background-color'), 'BackgroundColor');
    @include assert-equal(ppm-string-camelize('background_color'), 'BackgroundColor');
  }

  @include test('UpperCamelCase w/ downcase the first letter') {
    @include assert-equal(ppm-string-camelize('background', 'lower'), 'background');
    @include assert-equal(ppm-string-camelize('background-color', 'lower'), 'backgroundColor');
    @include assert-equal(ppm-string-camelize('background_color', 'lower'), 'backgroundColor');
  }

  @include test('Camelizes multiple words') {
    @include assert-equal(ppm-string-camelize('sass is powerfull'), 'SassIsPowerfull');
    @include assert-equal(ppm-string-camelize('sass is powerfull', 'lower'), 'sassIsPowerfull');
    @include assert-equal(ppm-string-camelize('sass   is    powerfull'), 'SassIsPowerfull');
  }

}
@include report;
