//// @access private

$ppm-chroma: () !default;

$ppm-chroma-properties: () !default;

$_ppm-chroma-propertyCamelMap:   ();
$_ppm-chroma-variantFormatedMap: ();
$_ppm-chroma-stateFormatedMap:   ();

/// Format the prefix name of a color variant.
///
/// @param {String} $color-variant - Name of a color variant (eg. "dark").
///
/// @return {String}
///   The color name, prefixed by a double dash if the `$color-variant`
///   parameter is different of `$ppm-chroma-default-key`.
///
/// @see $ppm-chroma-default-key
@function _ppm-chroma-formatColorVariant($color-variant) {
  @return if($color-variant == $ppm-chroma-default-key, "", "--" + $color-variant);
}

/// Returns a specific palette.
///
/// @param {String} $name - Name of the palette to retrieve.
///
/// @return {Map}
/// @require $ppm-chroma
@function _ppm-chroma-getPalette($name) {
  @return map-get($ppm-chroma, $name);
}

@function _ppm-chroma-getPlaceholder($property, $color-variant: $ppm-chroma-default-key, $palette: null, $extra: ()) {
  $variant:  map-get($_ppm-chroma-variantFormatedMap, $color-variant);
  @if 'null' == type-of($variant) {
    @error "Unknown variant color `#{$color-variant}`.";
  }

  $_property: map-get($_ppm-chroma-propertyCamelMap, $property);
  @if 'null' == type-of($_property) {
    @error "Unknown property `#{inspect($property)}`.";
  }

  $parts: ();
  @each $cpnt in $extra {
    $parts: append($parts, _ppm-chroma-formatColorVariant($cpnt));
  }

  @return '%#{$ppm-chroma-placeholderPrefix}#{if($palette, $palette + "-", "")}#{$_property}#{ppm-string-implode($parts)}#{$variant}';
}

@mixin _ppm-chroma-extendVariant($properties, $color-variant: $ppm-chroma-default-key, $palette: null, $extra: ()) {
  @each $property in $properties {
    @extend #{_ppm-chroma-getPlaceholder($property, $color-variant, $palette, $extra)};
  }
}

// %theme-pink-color
// %theme-pink-color--dark
// %theme-pink-color--light
// %theme-pink-backgroundColor
// %theme-pink-backgroundColor--dark
// %theme-pink-backgroundColor--light
// %theme-blue-color
// %theme-blue-color--dark
// %theme-blue-color--light
// %theme-blue-backgroundColor
// %theme-blue-backgroundColor--dark
// %theme-blue-backgroundColor--light
@mixin _ppm-chroma-createFinalPlaceholders() {
  @each $palette, $color-stops in $ppm-chroma {
    @each $property in $ppm-chroma-properties {
      @each $color-variant, $color-value in $color-stops {
        #{_ppm-chroma-getPlaceholder($property, $color-variant, $palette)} {
          #{$property}: $color-value;
        }
      }
    }
  }
}

