////
/// @access private
////

/// @param {String} $state - Name of an element state (eg. "visited" or "focus").
///
/// @return {Boolean}
///   `true` if `$state` is found in `$ppm-chroma-links-states`.
/// @see $ppm-chroma-support-links
@function _ppm-chroma-isVariantState($state) {
  $state: to-lower-case($state);

  @return $ppm-chroma-support-links and index($ppm-chroma-links-states, $state);
}

@function _ppm-chroma-formatState($state) {
  @return 'link' + ppm-string-capitalize($state);
}

@mixin _ppm-chroma-initStates() {
  @if $ppm-chroma-support-links {
    @each $state in $ppm-chroma-links-states {
      $_ppm-chroma-stateFormatedMap: map-merge(
        $_ppm-chroma-stateFormatedMap,
        ($state: _ppm-chroma-formatState($state))
      ) !global;
    }
  }
}

// %theme-backgroundColor--linkVisited
// %theme-backgroundColor--linkHover
// %theme-backgroundColor--linkFocus
// %theme-backgroundColor--linkActive
// or
// %theme-pink-backgroundColor--linkVisited
// %theme-pink-backgroundColor--linkHover
// %theme-pink-backgroundColor--linkFocus
// %theme-pink-backgroundColor--linkActive
@mixin _ppm-chroma-createFinalPlaceholdersStates() {
  @if $ppm-chroma-support-links {
    @if 0 == length($_ppm-chroma-stateFormatedMap) {
      @include _ppm-chroma-initStates;
    }
    @each $state in map-values($_ppm-chroma-stateFormatedMap) {
      @each $palette, $color-stops in $ppm-chroma {
        @each $property in $ppm-chroma-properties {
          @each $color-variant, $color-value in $color-stops {
            #{_ppm-chroma-getPlaceholder($property, $color-variant, $palette, $state)} {
              #{$property}: $color-value;
            }
          }
        }
      }
    }
  }
}

