////
/// Configuration variables.
/// @group API
////

/// @type String
$ppm-chroma-classPrefix: 't-' !default;

/// @type String
$ppm-chroma-placeholderPrefix: 'theme-' !default;

/// @type String
$ppm-chroma-itSelfSuffix: 'itself' !default;

/// @type String
$ppm-chroma-default-key: 'base' !default;

/// @type Boolean
$ppm-chroma-support-links: true !default;

/// @type List
$ppm-chroma-links-states: 'visited', 'hover', 'focus', 'active' !default;

