/// @output
///   @extend %theme-backgroundColor--linkVisited
///   @extend %theme-backgroundColor--linkVisited--dark
@mixin ppm-chroma-state($state, $properties, $color-variant: $ppm-chroma-default-key) {
  @if $ppm-chroma-support-links {
    @if not(_ppm-chroma-isVariantState($state)) {
      @error "Unknown state `#{$state}`. Allowed states are: `#{$ppm-chroma-links-states}`";
    }

    @include _ppm-chroma-extendVariant($properties, $color-variant, $extra: _ppm-chroma-formatState($state));
  }
}

